{% load static %}

<!DOCTYPE html>

<html>

<head>
<title>Signup | EngJect</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

<div class="login-container">

<div class="login-card">

<h2>Create EngJect Account</h2>

<form method="POST">
{% csrf_token %}

<input type="text" name="username" placeholder="Username" required>

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password1" placeholder="Password" required>

<input type="password" name="password2" placeholder="Confirm Password" required>

<button type="submit">Create Account</button>

</form>

<a href="/login" class="signup-link">Already have an account? Login</a>

</div>

</div>

</body>
</html>
